# Copyright (c) 2025 CATIE
# SPDX-License-Identifier: Apache-2.0

menuconfig DUMMY
    bool "CATIE dummy TYPE sensor"
    default y
    depends on DT_HAS_CATIE_DUMMY_ENABLED
    help
      Enable driver for CATIE dummy TYPE sensor.
